body {
  background-color: #19D1FF;
}

h1 {
  text-align: center;
}

.container {
  background-color: #0C687F;
  padding-bottom: 10px;
  width: 80%;
  margin: auto;
  padding-top: 10px
}

p {
  width: 96%;
  margin: auto;
  color: white;
  font-size: 18px;
  margin-top: 10px
}

.error-div {
  margin: auto;
  width: 95%;
  background-color: white;
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 1px;
  display: none;
}

li {
  margin-bottom: 9px
}

#error-box {
  font-size: 18px;
  margin-top: 10px;
}

.text-area {
  margin-left: 0px;
  width: 100%;
}

p.button-holder{
  text-align: center
}

#submit {
  border: none;
  color: white;
  background-color: #FF8719;
  height: 50px;
  font-size: 24px;
  margin: auto;
}

input.input {
  width: 100%;
  margin-bottom: 10px;
}

#submit:hover {
  background: transparent;
  background-color: rgba(255, 135, 25, 0.8);
  color: white;
}
