/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
#Site Styles
#Page Styles
#Media Queries
#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
.headerText {
font-size: 3.3em;
}

.option {
display: none;
}

#firstStory, #secondStory, #thirdStory {
height: 175px;
}

#thirdStory {
background: url('../images/flamingodark.jpg') no-repeat;
background-position: 50% 20%;
background-size: 1000px 400px;
background-color: #ce19ac;
}

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
.option {
display: none;
}

.headerText {
font-size: 2.8em;
}

#firstStory {
margin-top: -40px;
}

#firstStory, #secondStory, #thirdStory {
height: 150px;
margin-bottom: 20px;
}

#thirdStory {
background: url('../images/flamingodark.jpg') no-repeat;
background-position: 50% 20%;
background-size: 350px 400px;
background-color: #ce19ac;
}

.storyTitle {
font-size: 2em; 
}

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 561px) and (max-width: 767px) {
.headerText {
font-size: 2.5em;
}

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 560px) {

.headerText {
font-size: 1.7em;
}

#firstStory {
margin-top: -60px;
}

.storyTitle {
font-size: 1.5em; 
}

}


body {
background-color: #19D1FF;
}

header {
width: 95%;
margin-top: 1.4em;
margin-right: auto;
margin-bottom: 8em;
margin-left: auto;
text-align: center;
}

h1 {
font-family: 'Lato';
font-size: 4.5em;
}

h2 {
font-family: 'Lato';
font-size: 2.5em;
}

.headerText {
text-align: center;
color: #FFFF82;
font-weight: bold;
margin-top: .5em;
}

.story{
height: 200px;
margin-bottom: 3em;
text-align: center;
}

.storyTitle {
display: inline;
position: relative;
top: 40%;
color: white;
font-weight: bold;
}

#firstStory {
background: url('../images/pirates2.jpg') no-repeat;
background-size: 100%;
}

#firstStory h2 {
color: #dd1a0b;
}

#secondStory{
background: url('../images/space2.jpg') no-repeat;
background-size: 100%;
}

#thirdStory{
background: url('../images/flamingodark.jpg') no-repeat;
background-position: 50% 5%;
background-size: 200px;
background-color: #ce19ac;
}

.option {
height: 200px;
width: 15em;
padding: 0 2% 0 2%;
}

.option p {
margin-top: 35%;
color: white;
font-size: 1.8em;
font-weight: bold;
text-align: center;
}

/*Text inside the choice boxes*/

#firstStory p {
color: #1a1a1a;
}

.leftChoice {
float: left;
}

.rightChoice {
float: right;
}

/*Color of choice boxes*/
.pirate {
background-color: rgba(255, 255, 97, 0.5);
}

.space {
background-color: rgba(193, 39, 45, 0.5);
}

.twerk {
background-color: rgba(0, 0, 255, 0.5);
}

/* #Font-Face
================================================== */
/* This is the proper syntax for an @font-face file
Just create a "fonts" folder at the root,
copy your FontName into code below and remove
comment brackets */

/*  @font-face {
   font-family: 'FontName';
   src: url('../fonts/FontName.eot');
   src: url('../fonts/FontName.eot?iefix') format('eot'),
        url('../fonts/FontName.woff') format('woff'),
        url('../fonts/FontName.ttf') format('truetype'),
        url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
   font-weight: normal;
   font-style: normal; }
*/
