/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}

body {
	background-color: #19D1FF;
}

header {
	width: 95%;
	margin-top: 1.4em;
	margin-right: auto;
	margin-bottom: 8em;
	margin-left: auto;
	text-align: center;
}

footer {
	text-align: center;
}

h1 {
	font-family: 'Lato';
	font-size: 4.5em;
}

h2 {
	font-family: 'Lato';
	font-size: 2.5em;
}

.headerText {
	color: #FFFF82;
	font-weight: bold;
	margin-top: .5em;
	display: inline-block;
}

/*Menu refers to the top right*/
.menu {
	width: 120px;
	display: inline-block;
	float: right;
}

.menu div {
	background-color: #19FFA3;
	height: 13px;
	width: 90px;
	border-radius: 25px;
	margin: 10px auto;
}

/*This refers to the story blocks, e.g. 'Pirates'*/
.story{
	margin-bottom: 3em;
	text-align: center;
	border-radius: 20px;
}

.storyTitle {
	display: inline;
	position: relative;
	top: 45%;
	color: white;
	font-weight: bold;
}

.storyTextBackground {
	background-color: teal;
	height: 800px;
	opacity: .8;
	border-radius: 25px;
}

.storyText {
	color: white;
	margin: 2em 1em 2em 1em;
}

#firstStory {
	height: 200px;
	background-image: url('../images/pirates.jpg');
	background-position: 34% 25%;
}

#secondStory{
	height: 200px;
	background-image: url('../images/space.jpg');
	background-position: 50% 25%;
}

#thirdStory{
	height: 200px;
	background-image: url('../images/flamingo.jpg');
	background-position: 53% 30%;
}

/*These are the choice options on the left and right*/
.option {
	opacity: 0.7;
	height: 200px;
	width: 15em;
	border-radius: 20px;
}

/*Text inside the choice boxes*/
.option p {
	margin-top: .5em;
	color: white;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}

.leftChoice {
	float: left;
}

.rightChoice {
	float: right;
}

/*Color of choice boxes*/
.pirate {
	background-color: gray;
}

.space {
	background-color: red;
}

.twerk {
	background-color: purple;
}

		@keyframes animatedBackground {
			from { background-position: 0 0; }
			to { background-position: 500px 0; }
		}
		@-webkit-keyframes animatedBackground {
			from { background-position: 0 0; }
			to { background-position: 500px 0; }
		}
		@-ms-keyframes animatedBackground {
			from { background-position: 0 0; }
			to { background-position: 500px 0; }
		}
		@-moz-keyframes animatedBackground {
			from { background-position: 0 0; }
			to { background-position: 500px 0; }
		}

		#animate-area	{
			width: 1500px;
			height: 400px;
			background-image: url(../images/clouds.jpg);
			background-position: 0px 0px;
			background-repeat: repeat-x;
			animation: animatedBackground 1s linear infinite;
			-ms-animation: animatedBackground 1s linear infinite;
			-moz-animation: animatedBackground 1s linear infinite;
			-webkit-animation: animatedBackground 1s linear infinite;
		}

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/


* {
  -webkit-transition-timing-function: ease-out;
  /* Safari and Chrome */
  transition-timing-function: ease-out;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
/*body {
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  color: #F2F2F2;
  background-color: #41558C;
}*/
.toggleNav {
  border-bottom: 5px solid #15e1af;
  background-color: #54EFC9;
  width: 100%;
  height: 80px;
  text-align: center;
  line-height: 80px;
  cursor: pointer;
  color: white;
  font-size: 30px;
}
.toggleNav:hover {
  border-bottom: 5px solid #13ca9d;
}
nav {
  width: 100%;
  min-height: 50px;
}
.toggleNavButton {
  transition-duration: 0.5s;
  width: 40px;
  height: 2px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 25px;
  margin-left: -20px;
  border-radius: 2px;
}
.toggleNavButton:before,
.toggleNavButton:after {
  border-radius: 2px;
  transition-duration: 0.5s;
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  background-color: white;
  width: 40px;
  height: 2px;
}
.toggleNavButton:after {
  top: 20px;
}
.toggleNavButton.active {
  width: 0;
}
.toggleNavButton.active:after {
  top: 10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.toggleNavButton.active:before {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
#subnav {
  width: 100%;
  border-bottom: 0px solid #e60b3e;
  background-color: #F64870;
  transition-duration: 0.2s;
  overflow: hidden;
  height: 0px;
}
#subnav.active {
  border-bottom: 5px solid #e60b3e;
  height: 50px;
}
#subnav ul {
  width: 615px;
  margin: 0 auto;
}
#subnav ul li {
  transition-duration: 0.3s;
  display: inline-block;
  text-align: center;
  width: 150px;
  padding: 10px 0;
  height: 50px;
}
#subnav ul li a {
  color: white;
}
#subnav ul li:hover {
  background-color: #e60b3e;
}