/* Space Page Layout */

#subnav ul li {
  display: inline-block;
}

.space-main-content {
  background: url(../images/deepspace.jpg) no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 30%;
}

#title {
  color: white;
  padding: 20px 20px 0 0;
  font-size: 4em;
  font-family: 'Cuprum', cursive;
  
}

#author {
  font-size: 2em;
  font-family: 'Roboto Condensed', cursive;
  font-weight: bold;
  color: #33D6FF;

}

.headerText {
  margin-top: 80px;
  text-align: center;
  padding-bottom: 45px;
  color: #890a3b;
  font-size: 5.5em;
  font-family: 'Cuprum', cursive;
}

.navigate-story {
  margin-top: 150px;
  margin-left: 10%;
  padding-bottom: 10px;
}

#spin-button {
  margin-left: 4%;
  margin-top: 10px;
  display: inline-block;
  position: absolute;
}

.quarter {
  width: 50px;
  height: 50px;
  background-color: #db1d5d;
  opacity: 0;
}

.top-left {
  border-radius: 50px 0 0 0;
  position: absolute;
  border-style: none;
}

.top-right {
  border-radius: 0 50px 0 0;
  margin-left: 50px;
  border-style: none;
}

.bottom-right {
  margin-top: -20px;
  border-radius: 0 0 0 50px;
  position: absolute;
}

.bottom-left {
  margin-top: -20px;
  border-radius: 0 0 50px 0;
  position: absolute;
  margin-left: 50px;
}

.storyText {
  margin-top: 30px;
  margin-left: 20px;
  line-height: 1.1em;
  font-size: 1.5em;
  color: #FFFFFF;
  font-family: 'Roboto Condensed', sans-serif;
}

.storyBackground {
  height: 450px;
  margin: 20px auto 50px auto;
  background-color: #3D001F;
  opacity: .8;
  padding-bottom: 10px; 
  border-radius: 8px;
}

.storyBackground h2, .storyBackground h3 {
  margin-left: 20px;
}

.story-option {
  border-style: none;
  width: 35%;
  margin-bottom: 20px;
  height: 60px;
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
}

.space#a {
  color: white;
  background-color: #2236f2;
}

.space#a:hover, .publish-content:hover {
  background: transparent;
  background-color: rgba(34, 54, 242, 0.8);
  color: white;
}

.space#b {
  color: #333333;
  margin-left: 4%;
  background-color: #eff421;
}

.space#b:hover {
  background: transparent;
  background-color: rgba(239, 244, 33, 0.8);
}

#form-box {
  height: 450px;
  display: none;
}

#form-box input, #content-form {
  margin: 0px auto 5px auto;
  border: none;
  width: 90%;
  height: 30px;
  padding-left: 40px;
  font-size: 1.5em;
  font-family: 'Cookie', cursive;
  
}

#content-form {
  height: 100px;
  margin-bottom: 20px;
}

.is-ending-content {
  margin-top: 10px;
  font-size: 1.8em;
  float: right;
  margin-right: 20px;
}

button {
  background: transparent;
  border: 0;
  font-family: inherit;
}

.publish-content {
  margin-left: 20px;
  width: 30%;
  background-color: #2236f2;
  color: white;
  font-size: 1.5em;
  float: left;
}



footer {
  height: 20px;
  position: fixed;
  bottom: 0;
}

/* Spinning Radiant Circle 
 * from http://davidwalsh.name/css-circles
 */ 

@-webkit-keyframes spin {
  from { -webkit-transform: rotate(360deg); }
  to { -webkit-transform: rotate(0deg); }
}

#spin-button-overlay {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-left: 4%;
  margin-top: 10px;
  display: inline-block;
  z-index: -100;

  background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, #ff5aa5 0%, #ef1111 100%);
  background-image: -webkit-radial-gradient(45px 45px, circle cover, #ff5aa5, #ef1111);
  background-image: radial-gradient(45px 45px 45deg, circle cover, #ff5aa5 0%, #ef1111 100%);
  
  -webkit-animation-name: spin; 
  -webkit-animation-duration: 3s; 
  -webkit-animation-iteration-count: 1; 
  -webkit-animation-timing-function: linear;
}



